streamlit
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
qdrant-client
langfuse
python-dotenv
sentence-transformers
nest_asyncio
unstructured[pdf]
pymupdf
python-docx
python-pptx
pillow
rapidocr-onnxruntime
moviepy